@import '../../../public/scss/colors';

.footer {
  margin-top: auto;
  background-color: $color5;
  height: 13vh;

  & * {
    color: whitesmoke;
  }
}

.biCCircle {
  transform: rotate(180deg);
  translate: 0 -10%;
}