@import '../../public/scss/colors';

.main {
  min-height: 75vh;
  background-image: url('../../public/img/sign-in/sign-in.webp');
  background-position: center;
  background-size: cover;
}

.div {
  min-height: 75vh;
  backdrop-filter: blur(5px);
}