@import '../../public/scss/colors';

.main {
  background-color: $color1;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: balance;
}

.detail {
  background-color: whitesmoke;
  width: 90vw;
  display: flex;
  justify-content: space-between;

  @media (min-width: 576px) {
    & {
      width: 70vw;
    }
  }

  @media (min-width: 768px) {
    & {
      width: 60vw;
    }
  }

  @media (min-width: 992px) {
    & {
      width: 50vw;
    }
  }

  & .left {
    background-color: $color3;
    width: 30%;
  }

  & .right {
    width: 70%;
  }

  & .input {
    @extend .right;
    height: 80%;
    text-align: center;
  }
}