@import '../../public/scss/_colors.scss';

/* Three column layout */
.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $color5;
  width: 100%;
  position: relative;
}

/* Inside one column, lay out all items in column direction */
.column {
  --column-offset: 10vh;
  display: flex;
  flex-direction: column;
  padding: var(--column-offset) 0;
}

// The next code can be found on https://scroll-driven-animations.style/
@supports (animation-timeline: scroll()) {

  /* As we're about to shift content out of .columns, we need it to hide its overflow */
  .columns {
    overflow-y: hidden;
  }

  .column-reverse {
    /* Flip item order in reverse columns */
    flex-direction: column-reverse;
  }

  /* Set up Animation */
  @keyframes adjust-position {

    /* Start position: shift entire column up, but not so that it goes out of view */
    from {
      transform: translateY(calc(-100% + 100vh));
    }

    /* End position: shift entire column down, but not so that it goes out of view */
    to {
      transform: translateY(calc(100% - 100vh));
    }
  }

  /* Hook our animation with the timeline to our columns */
  .column-reverse {
    animation: adjust-position linear forwards;
    animation-timeline: scroll(root block);
  }
}