@import '../../../public/scss/colors';
@import '../../../public/scss/animations';

.main {
  background-color: $color1;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  @extend .fadeIn;
}