@import '../../../../public/scss/colors';

.card {
  margin: 30px 10px;
  height: 480px;
  width: 300px;
  border: solid $color5;
  border-radius: 10px;
  background-color: whitesmoke;
}

.img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}