/* Limit site of the images */
.columnItemImgwrap {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  & {
    animation: fadeIn 1s;
  }

  @media (min-width: 768px) {
    & {
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  img {
    border-radius: 1em;
    width: 100%;
    height: auto;
    aspect-ratio: 0.75;
    object-fit: cover;
  }
}